body{ 
    background-color: rgba(209, 248, 238, 0.578) ;
    
    
  
}

h1{ 
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;

    
}

.b { 
    color: rgb(0,255,0) ;
    font-size: 22px ;
    border: solid red ;
    border-radius: 20px ;
    width: 250px;
    
}

#lemon { color:red; 
    font-size: 14px;

}

#sws { color: orange; 
}

#cc { color:yellow; 
    background-color: black;
    
}